/*

COLORS:
Primary : #00272B
White   : #FEFEFE
Gray    : #C4C4C4
Text    : #6F6D71
Copyright:#DDD

FONTS:
font-family: 'Raleway',sans-serif;
font-family: Roboto; */

/* General Styles Starts Here */

/* --------General Styles Starts Here */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.container-right {
    max-width: 1545px;
    width: 100%;
    margin-left: 18.65%;
}

.container-left {
    max-width: 1545px;
    width: 100%;
    margin-right: 18.65%;
}

.section-title {
    color: var(--Solid-00272B, #00272b);
    font-family: Raleway;
    font-size: 50.521px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 65.677px */
    text-transform: uppercase;
}

.section-text {
    color: var(--Solid-6F6D71, #6f6d71);

    /* Roboto / P */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 27.2px */
}

.box-subhead {
    color: var(--Solid-6F6D71, #6f6d71);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    width: 160px;
    height: 21px;
    /* 20.8px */
}

.box-head {
    color: var(--Solid-00272B, #00272b);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    width: 160px;
    height: 42px;
    /* 20.8px */
    text-transform: uppercase;
    height: fit-content;
}

.box-text {
    color: var(--Solid-6F6D71, #6f6d71);
    text-align: center;
    /* Roboto / P */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    max-width: 223px;
    /* 27.2px */
}

.image-area {
    width: 845px;
    height: 770px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.column-3-images {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.column-3-image {
    background-color: #c4c4c4;
    width: 170px;
    height: 170px;
}

.grand-image {
    background-color: #c4c4c4;
    height: 770px;
    width: 645px;
    position: relative;
}

.search-box {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
    right: 0;
    background-color: #fefefe;
    padding: 53px;
}

.text-center {
    text-align: center;
}

.wp-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
}

.wpcard {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row !important;
}

.flex-column {
    display: flex;
    flex-direction: column !important;
}

.gap12 {
    gap: 12;
}

.width100 {
    width: 100% !important;
}

.mt100 {
    margin-top: 100px;
}

.mt32 {
    margin-top: 32px !important;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.text-left {
    text-align: left !important;
}

.max-width {
    max-width: 100%;
}

.background-blue {
    background-color: #00272b !important;
}

.color-white {
    color: white !important;
}

.color-blue {
    color: #00272b !important;
}

/* --------General Styles Ends Here */

/*-------- Navbar Styles Starts Here */
.nav {
    height: 170px;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    align-items: center;
    background-color: #c4c4c4;
}

.logo {
    display: flex;
    width: 243px;
    height: 80px;
    align-items: center;
    gap: 16px;
}

.logo-img-area svg {
    width: 43.75px;
    height: 50px;
}

.logo-text-area {
    padding: 10px;
}

.logo-title {
    color: var(--Solid-FEFEFE, #fefefe);
    font-family: Raleway;
    font-size: 28.433px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 16.065px;
    text-transform: uppercase;
}

.logo-text {
    color: var(--Solid-FEFEFE, #fefefe);
    /* Raleway / P */
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 27.2px */
}

.nav-links {
    width: 806px;
    display: inline-flex;
    align-items: center;
    gap: 50px;
}

.nav-link {
    padding: 32px 6px;
}

.nav-link a {
    color: var(--Solid-FEFEFE, #fefefe);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    /* 27.2px */
    text-transform: uppercase;
}

.phone-area {
    display: inline-flex;
    align-items: center;
    gap: 18px;
}

.phone-area svg {
    width: 35px;
    height: 35px;
}

.phone-text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.phone-text {
    color: var(--Solid-FEFEFE, #fefefe);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.phone-number {
    color: var(--Solid-FEFEFE, #fefefe);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*-------- Navbar Styles Ends Here */

/*-------- Banner Styles Starts Here */
#banner {
    height: 1000px;
    position: relative;
    background-color: #c4c4c4;
    padding-top: 183px;
}

.page-title {
    width: 670px;
    color: var(--Solid-00272B, #00272b);
    font-family: Raleway;
    font-size: 89.764px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.points {
    display: flex;
    gap: 22px;
    width: 100px;
    height: 110px;
    align-items: center;
}

.point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.point:nth-child(2) {
    background-color: #fefefe;
}

.social-media {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 183px;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 53px;
}

.banner-rectangle {
    background-color: #fefefe;
    width: 945px;
    height: 270px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 80px 0;
}

.banner-boxs {
    display: flex;
    padding: 100px 52px;
}

.banner-box {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
}

.box-number {
    width: 69px;
    height: 69px;
    background-color: #00272b;
    color: var(--Solid-FEFEFE, #fefefe);
    font-family: Roboto;
    font-size: 37.897px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px;
}

.box-text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.margin-auto {
    margin: auto;
}

/* ------- Banner Styles Ends Here */

/*-------- About Styles Starts Here */
#about {
    height: 770px;
    width: 100%;
    background-color: #fefefe;
    margin-top: 250px;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 130px;
    align-items: center;
}

.about-text-area {
    width: 570px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 570px;
}

.about-btn {
    padding: 16px 32px;
    width: 248px;
    border-radius: 2px;
    background: var(--Solid-00272B, #00272b);
}

.about-btn-text {
    color: var(--Solid-FEFEFE, #fefefe);
    text-align: right;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 170%;
    text-transform: uppercase;
}

/*-------- About Styles Ends Here */

/*-------- Working Process 1 Styles Starts Here */
#working-process-1 {
    margin-top: 350px;
}

/* STİLLERİN HEPSİ GENERAL KISMINDA */

/*-------- Working Process 1 Styles End Here */

/*-------- Our Project 1 Styles Starts Here */

#our-project {
    margin-top: 350px;
    width: 100%;
}

.our-project-content {
    display: flex;
    flex-direction: row;
    gap: 130px;
    justify-content: space-evenly;
}

.about-text-area {
    margin-top: 100px;
}

.ourpr-cards {
    display: flex;
    gap: 30px;
}

.ourpr-card {
    width: 270px;
}

/*-------- Our Project 1 Styles Ends Here */

/*-------- Counter Styles Stats Here */
#counter {
    background: var(--Solid-00272B, #00272b);
    height: 270px;
    margin-top: 350px;
}

.counter-cards {
    display: flex;
    justify-content: center;
}

.counter-card {
    width: 270px;
    height: 270px;
    justify-content: center;
}

.counter-number {
    color: var(--Solid-FEFEFE, #fefefe);
    font-family: Roboto;
    font-size: 89.764px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 72px;
}

.counter-text {
    color: var(--Solid-FEFEFE, #fefefe);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 20.8px */
    text-transform: uppercase;
}

/*-------- Counter Styles Ends Here */

/*-------- Teams Styles Stats Here */
#team {
    margin-top: 350px;
}

.team-text {
    max-width: 570px;
    margin: auto;
}

.team-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1170px;
    gap: 96px 30px;
    margin-top: 100px;
}

.team-card {
    width: 370px;
}

.team-card-image {
    width: 370px;
    height: 570px;
    background-color: #6f6d71;
    border-radius: 2px;
    background: var(--Solid-C4C4C4, #c4c4c4);
}

.team-card-text {
    color: var(--Solid-00272B, #00272b);
    text-align: center;
    font-family: Raleway;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 27.726px */
    text-transform: uppercase;
}

/*-------- Teams Styles Ends Here */

/*-------- Working Process 2  Styles Stats Here */
#working-process-2 {
    margin-top: 250px;
}

/*-------- Working Process 2 Styles Ends Here */

*-------- Footer Styles Stats Here */ #footer {
    margin-top: 250px;
}

#footer .container {
    display: flex;
    gap: 71.25px;
}

.footer-main {
    display: flex;
    gap: 30px;
}

.footer-box {
    width: 270px;
}

.f-b-head {
    color: var(--Solid-00272B, #00272b);
    font-family: Raleway;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 27.726px */
    text-transform: uppercase;
    margin-top: 119px;
}

.footer-box ul {
    margin-top: 30px;
}

.footer-box .main-ul li a {
    color: var(--Solid-00272B, #00272b);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    /* 27.2px */
    text-transform: uppercase;
    cursor: pointer;
}

.footer-box ul li {
    color: var(--Solid-6F6D71, #6f6d71);

    /* Roboto / P */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 27.2px */
}

.footer-media-links {
    display: flex;
    gap: 35px;
    margin-top: 25px;
}

/*-------- Footer Styles Ends Here */

/*-------- Copyright Styles Stars Here */
.copyright {
    background: var(--Solid-DDDDDD, #ddd);
    height: 100px;
    margin-top: 140px;
}

.copyrighy-text {
    color: var(--Solid-00272B, #00272b);

    /* Footer */
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 32.4px */
    letter-spacing: 0.54px;
    padding: 34px 0;
    text-align: center;
}

/*-------- Copyright Styles Ends Here */